<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<!-- connecting to Local MySql -->
			<dataSource type="POOLED">
				<property name="driver" value="org.mariadb.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://127.0.0.1:3306/crawler" />
				<property name="username" value="wisenut" />
				<property name="password" value="wisenut123!@#" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper url="file:C:\searchTest3.9\eGovFrameDev-3.9.0-64bit\workspace\webCrawlerbridge2\config\keyword\mybatis_keyword.xml" />
		<mapper url="file:C:\searchTest3.9\eGovFrameDev-3.9.0-64bit\workspace\webCrawlerbridge2\config\rule\mybatis_rule.xml" />
		<mapper url="file:C:\searchTest3.9\eGovFrameDev-3.9.0-64bit\workspace\webCrawlerbridge2\config\site\mybatis_naver.xml" />
		<mapper url="file:C:\searchTest3.9\eGovFrameDev-3.9.0-64bit\workspace\webCrawlerbridge2\config\site\mybatis_daum.xml" />
		<mapper url="file:C:\searchTest3.9\eGovFrameDev-3.9.0-64bit\workspace\webCrawlerbridge2\config\site\mybatis_youtube.xml" />
	</mappers>

</configuration>
